body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("image0.jpg")center/cover no-repeat;
}

.images {
  flex: 0 0 80%;
  min-height: 70vh;
  background: url("img/image-0.jpg")center/cover no-repeat;
  position: relative;
}
.btn {
  display: inline-block;
  color: rgb(65, 65, 65);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10%;
  box-shadow: 2px 3px rgba(44, 44, 44, 0.623);
  outline: none;
  cursor: pointer;
}
.prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%,-50%);
}
.nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%,-50%);
}
.btn:active {
  background: grey;
  box-shadow: 1px 1px 4px grey;
}
.btn:hover {
  background: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  border: 0px solid rgb(39, 39, 39);
}